body {
   background-color: #f9eddc;
   font-family: Arial, sans-serif;
 }
 
 /* Header Styling */
 .header {
   background-color: #aa0707;
   color: white;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 /* Header Styling */
 .header {
   background-color: #aa0707;
   color: white;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .custom-navbar .container {
   max-width: 70%;
 }
 
 /* Logo */
 .navbar-brand img {
   max-width: 100px;
 }
 
 /* Navbar Links */
 .custom-navbar .nav-link {
   color: white !important;
   font-weight: 400;
   padding: 0px 20px; /* Increased gap between nav links */
   transition: color 0.3s ease-in-out;
 }
 
 .custom-navbar .nav-link:hover {
   text-decoration: underline;
   color: #f0bf83 !important;
 }
 
 /* Buttons */
 .navbar-nav .nav-item {
   display: flex;
   align-items: center;
   justify-content: center; /* Center align buttons */
   margin-right: 15px;
 }
 
 .btn-dark {
   background-color: #222;
   padding: 6px;
   border: none;
 }
 
 .btn-dark:hover {
   background-color: #f0bf83;
   color: black;
 }
 
 .btn-outline-light {
   border: 2px solid white;
   color: white;
 }
 
 .btn-outline-light:hover {
   background-color: white;
   color: #aa0707;
 }
 
 /* Navbar Toggle */
 .navbar-toggler {
   border: none;
 }
 
 .navbar-toggler-icon {
   filter: invert(100%);
 }
 
 /* Responsive Design */
 @media (max-width: 992px) {
   .custom-navbar .navbar-collapse {
     background-color: #aa0707;
     padding: 10px;
   }
   .custom-navbar .nav-link {
     text-align: center;
     display: block;
   }
   .custom-navbar .nav-item {
     margin-bottom: 10px;
   }
   .btn {
     width: 100%;
     text-align: center;
   }
 }
 
 /* Donate */
 
/* Search Bar */
.search-container {
   display: flex;
   justify-content: center;
   margin: 20px 0;
 }
 
 .search-bar {
   width: 60%;
   padding: 10px;
   border: 2px solid #aa0707;
   border-radius: 5px;
   font-size: 16px;
 }
 
 /* Activity Cards */
 .activities-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
 }
 
 .activity-card {
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 15px;
   width: 600px;
   text-align: center;
   margin-right: 30px;
 }
 
 .activity-title {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
   color: #aa0707;
 }
 
 .activity-card iframe {
   width: 100%;
   border-radius: 5px;
 }
 
 

 /* Footer */
 .footer {
   padding: 20px 0;
   background-color: #aa0707;
   color: white;
   text-align: center;
 }
 
 .footer-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 50px;
 }
 
 .footer-section {
   flex: 1 1 30%;
   min-width: 250px;
 }
 